page-home {
    #map{
        height: 100%;
    }

    .directions {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      padding: 10px 0;
      // box-shadow: 1px 2px 23px #000;
      // background: rgba(0, 0, 0, 0.5);
      // border-bottom: 1px solid #666;

      .ion-input {
        // color: black;
        color: white;
        display: block;
        width: 100%;
        font-size: 15px;
        padding: 8px 12px;
        // background: white;
        background: #fbbd00;
        margin: 2px 10px;
        // border: 1px solid #999;
        border: none;

        &::placeholder {
          // color: #333;
          font-weight: bold;
          color: white;
        }
      }
    }

    #icon-config {
      position: absolute;
      right: 1em;
      top: 8em;
    }
}
