page-home {
    #map{
        height: 100%;
    }

    .directions {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      padding: .5em 0;

      .ion-input {
        color: white;
        display: block;
        width: 100%;
        font-size: 15px;
        padding: 15px;
        background: #fbbd00;
        margin: .2em .5em;
        border: none;

        &::placeholder {
          font-weight: bold;
          color: white;
        }
      }
    }

    #icon-config {
      position: absolute;
      right: 1em;
      top: 10.5em;
    }
}
